

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg white sticky-top" [containerInside]="false" >

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Women Empowerment</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/Home']">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/Subject']">Subject</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect  [routerLink]="['/Training']" >Traning </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/Universities']" >Universities</a> 
          </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/Job']">Job Offer</a> 
          </li>
      
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
           Event<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="/Event">Event  </a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="/EventDonation ">Event Donation </a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="/JackPot">Donation Jackpot </a>
      
          </div>
        </li>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
      
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/Signup">SignUp</a>
         
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->