<div class="nav">
    <input type="checkbox" id="menu"/>
    <label for="menu" id="nav-icon">&#9776;</label>

    
    <div class="multi-level">
        <div class="item">
            <input type="checkbox" id="A"/>
           <label for="A"> <a class="nav-link dropdown-toggle" > Home </a></label>
            
            <ul>
              
                    <div class="sub-item">
                        <input type="checkbox" id="B-A"/>
                        <label for="B-A"><a class="nav-link dropdown-toggle" > Organisation </a> </label>
                        
                        <ul>
                            <li><a href="#">Board </a></li>
                            <li><a href="#">Membres countries</a></li>
                            <li><a href="#">Representatives of the regions</a></li>
                            <li><a href="#">Constitution</a></li>
                        </ul>
                    </div>
                
                    <div class="sub-item">
                        <input type="checkbox" id="C-A"/>
                        <label for="C-A"><a class="nav-link dropdown-toggle" > History </a> </label>
                        
                        <ul>
                            <li><a href="#">History of the regions</a></li>
                            <li><a href="#">Past presidents</a></li>
                            <li><a href="#">Past boards</a></li>
                        </ul>
                    </div>
            
                    <div class="sub-item">
                        <input type="checkbox" id="C-A"/>
                        <label for="C-A"><a href="#"> Objectifs </a> </label>
                        </div>
            </ul>
        </div>
        <div class="item">
            <input type="checkbox" id="B"/>
            <label for="B"><a class="nav-link dropdown-toggle" > Event and news </a> </label>
            <ul>
                           <li><div class="sub-item">
                    <input type="checkbox" id="A-B"/>
                    <label for="A-B"><a class="nav-link dropdown-toggle" >Congresses </a> </label>
                    
                    <li><div class="sub-item">
                        <input type="checkbox" id="B-B"/>
                        <label for="B-B"><a class="nav-link dropdown-toggle" >Past congresses </a> </label>
                        
                        <ul>
                            <li><a href="#">Media and press</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">videos</a></li>
                        </ul>
                        <li><a href="#">Future congresses</a></li>
                    </div></li>
                    
                </div></li>
                
                <li><div class="sub-item">
                    <input type="checkbox" id="C-B"/>
                    <label for="C-B"><a class="nav-link dropdown-toggle" >Meeting </a> </label>
                    
                    <ul>
                        <li><a href="#">Past meeting</a></li>
                        <li><a href="#">Future meeting</a></li>
                     
                    </ul>
                  
                </div></li>
                
                <li><div class="sub-item">
                    <input type="checkbox" id="D-B"/>
                    <label for="D-B"><a class="nav-link dropdown-toggle" >News </a> </label>
                    
                    <ul>
                        <li><a href="#">Media and press</a></li>
                        <li><a href="#">Virtual congresses</a></li>
                     
                    </ul>
                  
                </div></li>
            </ul>
        </div>
        <div class="item">
            <input type="checkbox" id="C"/>
           <label for="C"> <a class="nav-link dropdown-toggle" > Multimedia </a></label>
            
            <ul>
                <li><a href="#">Media and press</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Videos</a></li>
                <li><div class="sub-item">
                    <input type="checkbox" id="D-C"/>
                    <label for="D-C"><a class="nav-link dropdown-toggle" >Links </a> </label>
                    
                    <ul>
                        <li><a href="#">WFN</a></li>
                        <li><a href="#">EAN</a></li>
                        <li><a href="#">ILAE</a></li>
                        <li><a href="#">MDS</a></li>
                        <li><a href="#">ADI</a></li>                  
                    </ul>
                  
                </div></li>
            </ul>
        </div>
        <div class="item">
            <input type="checkbox" id="D"/>
           <label for="D"> <a class="nav-link dropdown-toggle" > Contact us </a></label>
            
            <ul>
                <li><a href="#">Join</a></li>
                <li><a href="#">Membership</a></li>
                <li><a href="#">About Membership</a></li>
            </ul>
        </div>



    </div>
    
</div>
